.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
.idea
.vscode
*~
/logs
/data
.~*
common/CACHE
far_bakery/settings/local.py
far_bakerydb
node_modules
env
.env
__pycache__
.vagrant/
/.vagrant/
/Vagrantfile.local
!.gitignore
far_bakery/collect_static
